################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Learning-SignalR-DotNetCore-Angular/v17
/.vs
/SignalR/.vs/SignalR/v17
